@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&display=swap');
:root {
    --primary: #000000;
    --secondary: #F22558;
    --app-grey: #e9e3e3;
}

@font-face {
    font-family: CenturyGothic;
    src: url("../fonts/CenturyGothic.ttf")
}

* {
    margin: 0;
    padding: 0;
    font-family: CenturyGothic;
}

body {
    background-color: #F6F6F6;
    min-height: 100vh;
}

button {
    border: none;
    border-radius: 3px;
    cursor: pointer;
}


/* estilizando a barra de rolagem*/


/* no Firefox */

* {
    scrollbar-width: thin;
}


/* no Chrome, Edge, e Safari */

*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-track {
    background-color: #e9e3e3ee;
}

*::-webkit-scrollbar-thumb {
    background: #F22558;
    border-radius: 50px;
}


/* mudando a cor padrão quando um texto e selecionado */

 ::selection {
    background: #F22558;
    color: rgb(255, 255, 255);
}