.box__externo {
    display: flex;
}

.box__interno {
    display: flex;
    flex: auto;
    justify-content: flex-end;
}

.img__logo {
    width: 120px;
    height: auto;
    margin-top: 5px;
    margin-left: 5px;
}

.icones__sociais {
    width: 33px;
    height: auto;
    margin: 15px 5px 5px 0px;
}

.box__flex {
    display: flex;
}

.box__externo__conteudo {
    display: flex;
    justify-content: center;
}

.logo__to {
    width: 80%;
    height: auto;
}

footer {
    background: linear-gradient(90deg, var(--primary), var(--secondary));
    width: 100%;
    height: auto;
}

.p__footer {
    color: #fff;
    margin: 10px;
    font-size: 13px;
    padding-bottom: 10px;
}


/*Hover icones sociais header*/

a.facebook:hover {
    content: url(../assets/facebook_logo_dark__1.png);
    width: 33px;
    height: auto;
    margin: 15px 5px 5px 0px;
    text-decoration: none;
    border-bottom: none;
    padding: 0;
}

a.instagram:hover {
    content: url(../assets/instagram_logo-dark__1.png);
    width: 33px;
    height: auto;
    margin: 15px 5px 5px 0px;
}

a.twitter:hover {
    content: url(../assets/twitter_logo_dark__1.png);
    width: 33px;
    height: auto;
    margin: 15px 5px 5px 0px;
}

a.linkedin:hover {
    content: url(../assets/linkedin_logo_dark__1.png);
    width: 33px;
    height: auto;
    margin: 15px 5px 5px 0px;
}

a.github:hover {
    content: url(../assets/GitHub_logo_da__1.png);
    width: 33px;
    height: auto;
    margin: 15px 5px 5px 0px;
}

a.whatsapp:hover {
    content: url(../assets/Whatsapp_logo_dark__1.png);
    width: 33px;
    height: auto;
    margin: 15px 5px 5px 0px;
}

@media only screen and (max-width: 600px) {
    .box__externo {
        display: block;
    }
    .box__interno__mobile {
        display: flex;
        justify-content: center;
    }
    .box__flex {
        display: block;
    }
    .left {
        background-color: transparent;
        margin: 0 auto;
    }
    .left img {
        margin-top: 20px;
        width: 60%;
    }
    .right {
        margin: 0 auto;
        width: 80%;
    }
    footer {
        margin-top: 10px;
    }
    .ingressar__p {
        background-color: transparent;
        font-size: 0.8em;
        color: var(--secondary);
    }
    .ingressar__p:hover {
        background-color: transparent;
    }
    .p__footer {
        font-size: 8.6px;
    }
    li {
        color: #F22558;
        font-size: 12px;
    }
}

@media only screen and (max-width: 390px) {
    .icones__sociais {
        width: 30px;
        margin: 8px 0px 0px 0px;
    }
    .box__flex {
        display: block;
        justify-content: center;
    }
}